<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="javascript" href="file.js">
    <title></title>
</head>
<body>
    <div class ="container">
        <div class="col-lg-6 col-md-offset-3">
        </div>
        <h1>Add blog</h1>
        <form method = "Post" action="blog/submit">
        <div class = "panel panel-default">
         <div class = "panel-body">
             <div class = "form-group">
                 <label for ="title">Title:</label>
                 <input type ="text" id ="title" class="from-title" height="200px" width ="50%" name="title">
             </div>
             <div class= "from-group">
                 <label for="author">Author:</label>
                <input type ="text" id ="author" class = "from-title" height="200px" width="50%" name="author">
             </div>
             <div class="from-group"></div>
         <div class ="from-group">
             <label for ="url">URl</label>
            <input type="text" id="url" class="form-title" height="200px" width ="50%" name="body">
         </div>
         <label for = "comments">Comments:</label>
         <input type ="text" id="comments" class = "from-title" height="200px" width="50%" name="comments">  
         <div>
            <button type="submit" class ="btn btn-register">Post<button>
            
        </div>
        </div>
    </form>
    </div>
</body>
</html>
<!-- <html>
<head>
<link rel="javascript" href="file.js">
</head>
<body>
    <div class="container"></div>
    <div class= " ">

    </div>

    

</body>    
</html> -->