<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h4>Login</h4>
                <form method="post" action="/user/login">
                    <div class="panel panel-default" >
                            <div class="panel-title" {margin: 0 15}>
                            <div class="from-group" >
                                <label for="email">email:</label>
                                <input type="email" id="email" class="form-control" name="email">
                            </div>
                            <div class="panel-title" {margin: 0 15}>
                              <div class="form-group" {margin: 0 15 }>
                                <label for="password">password: </label>
                                <input type="password" id="password" class="form-control" name="password">
                              <div>
                                <button type="submit" class="btn btn-register">submit</button>
                             </div>
                         </div>
                     </div>
               </div>
          </div>
     </div>
     </div>
     </form>
 </body>

</html>
<html>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h4>Register User</h4>
            <form method="POST" action="/user/register">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="name">name:</label>
                            <input type="text" id="name" class="form-control" name="username">
                            <div class="panel-body">
                                <div class="from-group">
                                    <label for="email">email:</label>
                                    <input type="text" id="email" class="form-control" name="email">
                                    <div class="form-group">
                                        <label for="password">password: </label>
                                        <input type="password" id="password" class="form-control" name="password">
                                    </div>
                                    <button type="submit" class="btn btn-register">Register</button>
                                </div>
                                <div>
                              </form>
                         </div>
                   </div>
            </div>
    </html>